@font-face {
  font-family: Poppins;
  src: url(./font/Poppins-Regular.ttf);
  src: url(./font/Poppins-Light.ttf);
  src: url(./font/Poppins-Medium.ttf);
  src: url(./font/Poppins-Bold.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
a {
  text-decoration: none;
  color: #fefe;
}
body {
  height: 100%;
  width: 100%;
  background-color: #222628;
  background-image: url(./images/Ellipse\ 1.png);
  background-repeat: no-repeat;
  background-position: right;
}
.background-image {
  margin-left: auto;
}
header {
  padding-right: 60px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 72.5px;
}
nav {
  width: 178px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  padding-left: 150px;
}
main {
  display: flex;
  flex-direction: column;
  max-width: 769px;
  margin-left: 150px;
  margin-top: 51.5px;
}
h1 {
  color: #dae5e3;
  font-weight: 800;
  font-size: 50.5px;
}
p {
  color: #dae5e3;
  font-weight: 100;
  font-size: 21.33px;
}
.contact {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-top: 12px;
}
.download-resume {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #8dddd4;
  border-radius: 5px;
  width: 216px;
  background-color: none;
}
.download-resume figure {
  display: flex;
  align-items: center;
}
.download-resume button,
a {
  padding: 3.5px;
  font-size: 18px;
  border: none;
  font-weight: 300;
  color: #8dddd4;
  background: none;
}
#contact {
  width: 157px;
  margin-left: 30px;
}
